<!doctype html>
<html ng-app="app">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Busca CEP</title>
  </head>
  <body ng-controller="BuscaCEP as vm">
    <div class="container">
        <h2 class="col-md-8 display-4 mx-auto">Busca CEP</h2>
        <form class="col-md-8 mx-auto">
            <div class="form-group">
                <label for="cep">
                    CEP
                </label>
             <div class="input-group mb-3">
                 <input type="text" ng-model="vm.cep" class="form-control" placeholder="Informe o CEP" aria-label="Informe o CEP" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success btn-lg btn-block" type="button" ng-click="vm.consultar()" >Consultar</button>
                </div>  
             </div>
            </div>
            <div class="form-group">
                    <label for="logradouro">Logradouro</label>
                    <input 
                         type="text" 
                         ng-model="vm.logradouro" 
                         class="form-control" 
                         id="logradouro" 
                         placeholder="Logradouro">
            </div>
            <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input 
                         type="text" 
                         ng-model="vm.bairro" 
                         class="form-control" 
                         id="bairro" 
                         placeholder="Bairro">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cidade">Cidade</label>
                    <input 
                         type="text" 
                         ng-model="vm.cidade" 
                         class="form-control" 
                         id="cidade" 
                         placeholder="Cidade">
                </div>
                <div class="form-group col-md-6">
                    <label for="estado">Estado</label>
                    <input 
                        type="text" 
                        ng-model="vm.uf"
                        class="form-control" 
                        id="estado" 
                        placeholder="Estado">
                </div>
            </div>
        </form>   
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="main.js"></script>
   <script src="cep.js"></script>
  </body>
</html>